@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}
.font-default{
    font-family: 'Poppins', sans-serif;
}

.font-rokkit{
    font-family: 'Rokkitt', serif;
}
.font-title{
    font-family: "Satisfy", sans-serif;

}

@layer base{

    body{
        @apply bg-background
    }
  
    .btn{
        @apply grid place-items-center w-[120px] h-[40px]
    }

    .sidebar-item{
        @apply text-[15px] text-[#344767] px-[15px] py-[10px] rounded-[10px]
         flex items-center gap-[10px] font-semibold duration-300
    }
    .sidebar-item.active{
        @apply bg-[#eee] md:bg-white shadow-md
    }

    .sidebar-item .icon{
        @apply  text-white text-[18px]  rounded-[6px] w-[30px] h-[30px] grid place-items-center;
        background: rgb(13,83,187);
        background: linear-gradient(90deg, rgba(13,83,187,1) 0%, rgba(15,10,153,0.9836309523809523) 100%);
        box-shadow: 1px 3px 4px 0 #ccc;


    }
}
