@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}
.font-default{
    font-family: 'Poppins', sans-serif;
}

.font-rokkit{
    font-family: 'Rokkitt', serif;
}
.font-title{
    font-family: "Satisfy", sans-serif;

}

@layer base{

    body{
        @apply bg-background
    }
  
    .btn{
        @apply grid place-items-center w-[120px] h-[40px]
    }
}
